body{background-color: lightgreen; margin: 15px;}
h1{background-color: white;font-size: 50px; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; text-align: center;}
.test{
    float: right;}